<div class="sidebar-container">
  <h1>Form Elements</h1>
  <ul class="input-options">
    <li class="input-item">
      <span>Text</span>
      <div class="input-item-content">
        <label for="text">Text</label>
        <input type="text" placeholder="Text" id="text"/>
      </div>
    </li>
    <li class="input-item">
      <span>Password</span>
      <div class="input-item-content">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password"/>
      </div>
    </li>
    <li class="input-item">
      <span>Checkbox</span>
      <div class="input-item-content">
        <label for="checkbox">Checkbox</label>
        <input type="checkbox" id="checkbox"/>
      </div>
    </li>
    <li class="input-item">
      <span>Radio Button</span>
      <div class="input-item-content">
        <label for="radio">Radio Button</label>
        <input type="radio" id="radio"/>
      </div>
    </li>
    <li class="input-item">
      <span>Date</span>
      <div class="input-item-content">
        <label for="date">Date</label>
        <input type="date" id="date"/>
      </div>
    </li>
    <li class="input-item">
      <span>Date Time</span>
      <div class="input-item-content">
        <label for="datetime">Date Time</label>
        <input type="date" id="datetime"/>
      </div>
    </li>
    <li class="input-item">
      <span>Time</span>
      <div class="input-item-content">
        <label for="time">Time</label>
        <input type="time" id="time"/>
      </div>
    </li>
  </ul>
</div>
<div class="form-preview-container" draggable="true"></div>
